$color-primary: hsl(180, 29%, 50%);
$color-secondary: hsl(180, 100%, 99%);
$Light-Grayish-Cyan: hsl(180, 52%, 96%);
// $Light-Grayish-Cyan: hsl(180, 31%, 95%);
$Dark-Grayish-Cyan: hsl(180, 8%, 52%);
$Dark-Grayish-Cyan-shade: hsla(180, 8%, 52%, 0.542);
$Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);
